@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #131418;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #C5C5C5;
  font-size: 16px; }

ul {
  list-style-type: none; }

.container {
  max-width: 1150px;
  margin: 0 auto; }
  .container .header {
    width: 100%; }
    .container .header .nav {
      padding: 20px 0;
      display: flex;
      align-items: center; }
      .container .header .nav img {
        margin-right: 200px; }
      .container .header .nav ul {
        display: flex; }
        .container .header .nav ul li {
          margin-right: 75px; }

.main {
  padding: 70px 0;
  display: flex; }
  .main .main_child {
    width: 60%;
    max-width: 60%;
    flex-basis: 60%; }
  .main h1 {
    font-size: 56px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px; }
  .main p {
    color: #C5C5C5;
    line-height: 25px;
    margin-bottom: 70px; }
  .main a {
    border: 2px solid #EE4248;
    border-radius: 25px;
    padding: 15px 25px;
    color: #EE4248;
    font-weight: 700; }
  .main .main_child2 img {
    width: 500px;
    height: 490px; }

.custom {
  display: flex;
  align-items: center;
  margin: 70px 20px 180px 20px;
  justify-content: center; }
  .custom_box {
    background-color: #313131;
    padding: 50px 70px;
    display: inline-block;
    margin: 0 15px;
    color: #FFFFFF; }
    .custom_box h1 {
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px; }
    .custom_box p {
      font-size: 20px; }

.text {
  width: 100%;
  display: flex;
  height: 85vh; }
  .text .text_child1 img {
    width: 570px;
    height: 390px;
    opacity: 0.8; }
  .text .text-child2 {
    margin-left: 50px; }
    .text .text-child2 h1 {
      color: white;
      margin-bottom: 20px; }
    .text .text-child2 p {
      color: #99999C;
      padding-bottom: 80px; }
    .text .text-child2 a {
      text-decoration: none;
      color: #F4292C;
      border-radius: 20px;
      border: 1px solid #F4292c;
      padding: 6px 25px; }

.h1 {
  color: #ffffff;
  margin-bottom: 30px; }

.portfolio {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .portfolio .portfolio_list ul {
    display: flex;
    list-style-type: none; }
    .portfolio .portfolio_list ul li a {
      margin-right: 75px; }
  .portfolio .portfolio_lest2 {
    display: flex;
    margin-right: 0;
    margin-bottom: 50px; }
    .portfolio .portfolio_lest2 a {
      color: #FB2F24; }

.photo {
  width: 100%;
  display: flex; }
  .photo .grid_child {
    width: 100%;
    height: 500px;
    margin-bottom: 300px; }
    .photo .grid_child .grid_1 {
      width: 100%;
      object-fit: cover;
      height: 75%;
      margin-bottom: 20px; }
    .photo .grid_child .grid_2 {
      width: 100%;
      object-fit: cover;
      height: 75%; }
    .photo .grid_child .grid_3 {
      width: 100%;
      object-fit: cover;
      height: 50%;
      margin: 0 22px 9px 12px; }
    .photo .grid_child .grid_4 {
      width: 100%;
      object-fit: cover;
      height: 50%;
      margin: 0 22px 9px 12px; }
    .photo .grid_child .grid_5 {
      width: 100%;
      object-fit: cover;
      height: 50%;
      margin: 0 14px 0 14px; }
    .photo .grid_child .grid_6 {
      width: 100%;
      object-fit: cover;
      height: 75%;
      margin: 0 0 20px 26px; }
    .photo .grid_child .grid_7 {
      width: 100%;
      object-fit: cover;
      height: 75%;
      margin: 0 0 0 26px; }

.our_team {
  text-align: center; }
  .our_team h1 {
    margin-top: 170px;
    color: white; }
  .our_team p {
    margin-top: 10px;
    color: #99999C;
    font-size: 18px; }

.our_group {
  display: flex;
  margin-top: 30px;
  width: 100%; }
  .our_group .our_child {
    background-color: #313131;
    margin-left: 20px;
    text-align: center; }
    .our_group .our_child img {
      margin: 40px 25px 0 25px;
      width: 320px;
      height: 350px;
      border: 3px solid #ffffff;
      border-radius: 13px; }
    .our_group .our_child h3 {
      color: white;
      margin-top: 30px; }
    .our_group .our_child p {
      color: floralwhite;
      margin: 15px 0; }
    .our_group .our_child a {
      color: #FB2F24; }

.our_team2 {
  text-align: center; }
  .our_team2 h1 {
    margin-top: 170px;
    color: white; }
  .our_team2 p {
    margin-top: 10px;
    color: #99999C;
    font-size: 18px; }

.our_pricing {
  display: flex;
  margin-top: 40px;
  margin-bottom: 250px;
  width: 100%; }
  .our_pricing .our_child {
    background-color: #313131;
    margin-left: 20px;
    text-align: center;
    padding: 100px 20px 20px 20px; }
    .our_pricing .our_child .our_child2 {
      border: 2px solid white;
      padding: 10px;
      height: 360px; }
      .our_pricing .our_child .our_child2 h3 {
        color: white;
        margin-top: 30px; }
      .our_pricing .our_child .our_child2 p {
        color: floralwhite;
        margin: 15px 0 45px 0; }
      .our_pricing .our_child .our_child2 a {
        text-decoration: none;
        color: white;
        border-radius: 20px;
        border: 1px solid #F4292c;
        padding: 10px 65px; }

.form_title h2 {
  color: white;
  margin-bottom: 5px; }
.form_title p {
  color: floralwhite;
  margin-bottom: 20px; }

.container_form {
  display: flex;
  margin-bottom: 80px; }
  .container_form form .col-75 {
    margin-bottom: 20px; }
    .container_form form .col-75 input {
      background-color: #131418;
      width: 100%;
      padding: 12px;
      border: 1px solid #fff;
      resize: vertical;
      color: white; }
    .container_form form .col-75 textarea {
      background-color: #131418;
      width: 100%;
      padding: 12px;
      border: 1px solid #fff;
      resize: vertical;
      color: white; }
  .container_form form a {
    text-decoration: none;
    color: #F4292c;
    border: 1px solid #F4292c;
    padding: 10px 152px; }
  .container_form .form_img {
    justify-content: flex-end; }
    .container_form .form_img img {
      margin: 0 100px;
      width: 700px;
      height: 400px; }

/*# sourceMappingURL=App.css.map */
